* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(-9px);
  
}

.home-header {
  width: 100%;
  height: 135px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 55px;

  background: linear-gradient(180deg, #1f6bff 0%, #1348b5 100%);
  transform: translate(-15px, -60px);
  width: 2599px;
  
}

.home-left,
.home-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.home-logo {
  width: 150px;
  height: auto;
}

.home-title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  transform: translate(-50px);
}

.logout-icon {
  width: 38px;
  height: 38px;
}

.home-logout {
  background: transparent;
  border: none;

  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;

  cursor: pointer;
}

.home-logout:hover {
  opacity: 0.8;
}
 

.home-footer {
  width: 100%;
  height: 145px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  background: linear-gradient(180deg, #1f6bff 0%, #1348b5 100%);
  transform: translate(-15px, 880px);
  width: 2599px;
}

.home-footer .direitos {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}




.home-footer .telefone {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  transform: translate(-313px, -20px);
}

.home-footer .telefone p {
  transform: translate(-156px, -21px);
  color: #ffffff;
}





.home-footer .localizacao {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  transform: translate(-455px, 20px);
}

.home-footer .localizacao p {
  transform: translate(-215px, 20px);
  color: #ffffff;
}





.home-footer .email {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translate(-570px);
}

.home-footer .email p {
  transform: translate(-370px);
  color: #ffffff;
}

.home-footer .social {
  transform: translate(230px, 1px);
}


